/* Loading */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

a { transition: all 0.3s ease; }

button:focus { outline: none; }

a:hover,
a:focus {
	color: #0275d8;
	text-decoration: none;
	outline: none;
}

ul, h1 {
	padding: 0;
	margin: 0;
}

html {	font-size: 18px; }

body {
	background: black;
	color: rgba(255,255,255,0.95);
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	/*overflow-x: hidden;*/
}

p { line-height: 2; }

p:last-child { margin-bottom: 0; }

.tm-img { padding: 15px; }

#logo{
	 width:100%;
	 min-width:300px;
}

.tm-footer-text {
	font-size: 0.9em;
	margin-bottom: 0;
	padding: 30px 15px;
}

.tm-footer a {
	color: #fff;
}
.tm-container {
	background-color: white;
	padding: 30px 45px;
	max-width: 1600px;
}

.navbar-row { position: relative; }
.navbar-container {
	background-color: #3DC1B2;
	font-size: 1em;
	position: absolute;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px;
    z-index: 1000;
}

.navbar {
	color: white;
	font-size: 1em;
	padding: 0;
}

.navbar-container.sticky {
	background-color: #3EBBBD;
	opacity: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1000;
	font-size: 0.6em;
	padding: 1em 2em;
}

.navbar-container.sticky .navbar-brand {
	padding: 0.285em 1em;
}

.navbar-brand {
	color: white;
	/*display: inline-block;*/
	font-size: 3em;
	margin: 0;
    text-transform: uppercase;
    padding: 0.56em 1.3em;
}

.navbar-brand:hover,
.navbar-brand:focus {
	color: white;
}

.nav-item {
	float: left;
	list-style: none;
	font-size: 1.8em;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus {
	border-radius: 50px;
	color: white;
	display: block;
	font-weight: 600;
	font-family: 'Vollkorn', serif;
	padding: 0.625em 1.43em;
	transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
	background-color: #309091;
	color: white;
	text-decoration: none;
}

.tm-page-content { margin-top: 165px; }

.tm-home-right {
	padding: 100px 70px 100px 100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.tm-section {
	background-position: bottom right;
	background-size: cover;
	background-repeat: no-repeat;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 650px;
}


#tm-section-1 {	background: #3DC1B2; font-size: 40px}
#tm-section-2 {	background: #159BE9;}
/* #tm-section-3 {	background: #4527A0; } */
#tm-section-3 {	background:#16363C;}
/* #tm-section-4	{background: #090C13} */
#tm-section-4	{background: #333333}
#tm-section-5 {
	background: -moz-linear-gradient(90deg, rgba(75,19,97,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(75,19,97,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(75,19,97,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(75,19,97,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(75,19,97,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(75,19,97,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
}

.tm-footer {
	background:#4B1361;
	font-weight: 300;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.tm-section-header {
	font-weight: 900;
	margin-bottom: 30px;
}

.tm-white-curve-left,
.tm-white-curve-right {
	color: black;
	margin-top: 30px;
	margin-bottom: 30px;
}

.logo-left{
	padding-top: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
/* Fix for Safari 9.0.3 on Mac */
.tm-white-curve-right {	margin-right: -1px; }

.tm-white-curve-left,
.tm-white-curve-right {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
}

.tm-white-curve-left-rec,
.tm-white-curve-left-circle,
.tm-white-curve-right-rec,
.tm-white-curve-right-circle {
	position: absolute;
	background-color: white;
	height: 100%;
}

.tm-white-curve-left-rec,
.tm-white-curve-right-rec {
	width: 65%;
}

.tm-white-curve-left-circle {
	width: 520px;
	right: 0;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.tm-white-curve-right-rec {
	padding-right: 0;
	right: 0;
}

.tm-white-curve-right-circle {
	width: 520px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.tm-white-curve-text {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-left: 50px;
	width: 85%;
	position: relative;
	z-index: 100;
}

.tm-white-curve-right > .tm-white-curve-text {
	margin-right: 0;
	margin-left: auto;
}

.tm-flex-center {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.thin-font { font-weight: 300; }

.tm-contact-left {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 60px;
}

.tm-contact-form-left {	padding-right: 0; }

.tm-contact-form-right { padding-right: 0; }

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: rgba(255,255,255,0.75);
  	font-weight: 300;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  	color: rgba(255,255,255,0.75);
  	font-weight: 300;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  	color: rgba(255,255,255,0.75);
  	font-weight: 300;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  	color: rgba(255,255,255,0.75);
  	font-weight: 300;
}

.form-control,
.submit-btn {
	border-radius: 0;
	color: rgba(255,255,255,0.75);
    background-color: rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(204, 204, 204, 0.43);
}

.form-control:focus,
.submit-btn:focus { border-color: #2C9798; }

.btn { transition: all 0.3s ease; }

.submit-btn {
	padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    width: 100%;
}

.submit-btn:hover,
.submit-btn:focus,
.submit-btn:active,
.submit-btn.active.focus,
.submit-btn.active:focus,
.submit-btn.active:hover,
.submit-btn:active.focus,
.submit-btn:active:focus,
.submit-btn:active:hover {
	color: #040404;
    background-color: rgba(255, 255, 255, 0.46);
    border-color: #F3F3F3;
}

.tm-section-subheader {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

/* .blue-text { color: #3DC1B2; } */
.blue-text { color: black; }
.red-text { color: #882f33;font-family: 'Vollkorn', serif; }
.gray-text { color: #333333; }
.green-text {
	color: #2A8885;
	font-weight: 400;
}

.contact-info-link { color: black; }

.contact-info { margin-right: 20px; }
.contact-info:last-child { margin-right: 0; }

.contact-info-link:focus,
.contact-info-link:hover {
	color: #2A8885;
	text-decoration: none;
}

@media screen and (max-width: 1400px) {
	.navbar-nav .nav-link,
	.navbar-nav .nav-link:focus { padding: 0.4em 0.8em; }
	.navbar-brand {	padding: 0.4em 1em;	}
	.navbar-container {
		font-size: 0.82em;
		padding: 1.4em 1.8em;
	}
	.tm-page-content { margin-top: 85px; }
}

@media screen and (max-width: 1300px) {
	.tm-white-curve-left-circle,
	.tm-white-curve-right-circle {
		width: 445px;
	}
	.tm-contact-left { padding: 25px; }
}

@media screen and (max-width: 1199px) {
	.navbar-container { font-size: 0.6em; }
	.tm-page-content { margin-top: 65px; }
	.tm-home-right { padding: 80px 50px 50px 60px; }
	.contact-info { margin-right: 10px; }
}

@media screen and (max-width: 1060px) {
	.logo-left{
		margin-top: 130px;
		margin-bottom: 30px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.tm-section {
		display: block;
		height: auto;
	}

	.tm-section .col-lg-7,
	.tm-section .col-lg-5 {
		width: 100%;
	}

	.tm-white-curve-left-rec,
	.tm-white-curve-right-rec {
		width: 60%;
	}

	.tm-white-curve-text {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.tm-white-curve-left-circle,
	.tm-white-curve-right-circle {
		width: 50%;
	}

	.tm-white-curve-left-circle { right: 1em; }
	.tm-white-curve-right-circle { left: 1em; }

	#tm-section-2,
	#tm-section-3 {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	    -webkit-flex-direction: column;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-justify-content: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}

	.tm-img { padding: 30px; }
}

@media screen and (max-width: 991px) {

	.tm-page-content { margin-top: 45px; }
	.navbar-container .navbar-brand { padding: 0.285em 1em;	}
	.navbar-nav .nav-item {	float: none; }

	.navbar-brand {
		display: block;
		float: left;
		font-size: 2em;
	}

	.navbar {
		position: absolute;
		right: 0;
		top: 77px;
		background-color: #3DC1B2;
		text-align: right;
		width: 20em;
	}

	.navbar-container.sticky .navbar { top: 68px; }
	.navbar-nav .nav-item+.nav-item { margin-left: 0; }

	.navbar-toggler {
		display: block;
		float: right;
	}
}

@media screen and (max-width: 800px) {
	.container-type p {
	  font-size: 2rem;}
	body {
		background: none;
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 550px) {
	.tm-container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media screen and (max-width: 480px) {
	/* .tm-white-curve-text { padding: 1.5em 1em; } */
	.tm-white-curve-right > .tm-white-curve-text {
	    padding-right: 0;
	    padding-left: 2em;
	}

	.tm-section-header {
		font-size: 1.8em;
		margin-bottom: 0.5em;
	}

	.tm-home-right { padding: 2em; }
}

/* Typing animation */
.container1-type{
	display: flex;
	justify-content: center;
}
.container-type p {
  font-size: 2.5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.container-type p span.typed-text {
  font-weight: bold;
	font-family: 'Vollkorn', serif;
  color: white;
}
.container-type p span.cursor {
  display: inline-block;
  background-color: white;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container-type p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: white; }
  49% { background-color: white; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: white; }
}

@media screen and (max-width: 550px) {
	.container-type p{
		font-size: 1.25rem;
		padding: 0.15rem;
	}
}
/* Cards */

#sec {
	 font-family: 'Raleway', sans-serif;
	 padding: 50px 0;
	 background: #fff;
	 text-align: center;
	 word-wrap: break-word;
}
 #sec h2 {
	 font-weight: 200;
	 font-size: 30px;
	 color: #63b7e6;
}
 #sec ul {
	 margin: 0;
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: center;
	 list-style: none;
}
 #sec ul li {
	 padding: 15px;
	 width: 250px;
	 /* transition: box-shadow 0.3s; */
}
 /* #sec ul li:hover {
	 box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
 #sec ul li:hover span {
	 color: #63b7e6;
}
 #sec ul li:hover p {
	 color: #555;
}
 #sec ul li:hover h3 {
	 color: #63b7e6;
}
 #sec ul li:hover h3:after {
	 width: 25px;
}
 #sec ul li span {
	 font-size: 2.6em;
	 display: block;
	 transition: color 0.3s;
	 color: #a2a2a2;
}
 #sec ul li span:before, #sec ul li span:after {
	 position: static;
}
 #sec ul li h3 {
	 color: #6f6f6f;
	 display: inline-block;
	 font-size: 24px;
	 font-weight: 100;
	 transition: color 0.3s;
}
 #sec ul li h3:after {
	 content: '';
	 position: relative;
	 left: 50%;
	 top: 20px;
	 transform: translateX(-50%);
	 display: block;
	 width: 40px;
	 height: 1px;
	 background: #6f6f6f;
	 transition: width 0.3s;
}
 #sec ul li p {
	 color: #a2a2a2;
	 text-align: left;
	 text-indent: 1em;
	 font-size: 16px;
	 line-height: 26px;
	 transition: color 0.3s;
} */

/*  What we offer - hr icons */
.hr{
	 flex-direction:column;
	 align-items: center;
	 justify-content: center;
}

.hr .row{
	height:120px;
	width:300px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.hr h5{
	font-weight: bold;
}
@media screen and (min-width: 775px) and (max-width:1060px) {
	.hr{
		 flex-direction:row;
		 margin-top: 50px;
		 margin-bottom: 50px;
	}
	.hr .l{
		margin-right: 25px;
	}
	.hr .r{
		margin-left: 25px;
	}
}
@media screen and (min-width: 1060px){
	.hr h5{
		font-size: 28px;
	}
	.hr .l{
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.hr .r{
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.rpad{
		padding-right: 60px;
	}
}

/* Team new */
#team{
	background: -moz-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153,218,255,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(180deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
}

.team{
	justify-content: center;
	align-items: center;
}
.testimonial {
  background-color: white;
  text-align: center;
  padding: 30px 30px 50px;
  margin: 100px 15px 160px;
  position: relative;
	border-radius: 100px;
	max-width: 1000px;
}

@media screen and (max-width: 500px){
	.testimonial {
		border-radius: 0px;
	}

	.testimonial::before,
	.testimonial::after {
	  content: "";
	  border-top: 40px solid white;
	  border-right: 125px solid transparent;
	  position: absolute;
	  bottom: -40px;
	  left: 0;
	}

	.testimonial::after {
	  border-right: none;
	  border-left: 125px solid transparent;
	  left: auto;
	  right: 0;
	}
}

.testimonial .icon {
  display: inline-block;
  font-size: 80px;
  color: #016d9b;
  margin-bottom: 20px;
  opacity: 0.6;
}

.testimonial .description {
  font-size: 14px;
  color: #777;
  text-align: justify;
  margin-bottom: 7.5px;
  opacity: 0.9;
}

.testimonial .testimonial-content {
  width: 100%;
  left: 0;
  position: absolute;
}

.testimonial .pic {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px #016d9b;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.testimonial .pic img {
  width: 100%;
  height: auto;
}

.testimonial .name {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  margin: 10px 0 5px 0;
}

.testimonial .title {
  display: block;
  font-size: 20px;
  color: #ffd9b8;
}

/* Old Team - Profile cards */
/*
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: white;
  background-color: white;
} */
